/* Eorzea Map Loader - By [[用户:云泽宛风]] */

.erozea-map-outer {
  color: white;
  visibility: hidden;
  position: fixed;
  height: 500px;
  width: 500px;
  top: 0;
  left: 0;
  z-index: 120;
  user-select: none;
  -webkit-user-select: none;
}
.eorzea-map-inner {
  width: 100%;
  height: 100%;
}
.eorzea-map-loading {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 300px;
  height: 80px;
  margin-left: -150px;
  margin-top: -40px;
  background: #262626;
  color: #ccc;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border: 1px solid #b9a465;
  border-radius: 5px;
  box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.3);
}
.eorzea-map-loading-text {
  flex: 1;
  margin: 10px;
  text-align: center;
}
.eorzea-map-loading .ff14-loading {
  margin: 10px;
}
.eorzea-map-trigger {
  display: inline-block;
  background: url('//huiji-public.huijistatic.com/ff14/uploads/6/6c/Pos_prefix.png') no-repeat left;
  padding-left: 20px;
  cursor: pointer;
  color: #77d1ff;
}
.eorzea-map-move-handler {
  position: absolute;
  top: 0;
  left: 24px;
  width: 100%;
  width: calc( 100% - 24px );
  height: 24px;
  z-index: 2001;
  cursor: move;
}
.eorzea-map-close-button {
  position: absolute;
  top: 0;
  left: 28px;
  color: #93cac7;
  z-index: 2002;
  line-height: 24px;
  font-size: 12px;
  cursor: pointer;
}
